body {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.head {
    text-align: center;
    flex-grow: inherit;
    height: 30px;
    width: 755px;
    background-color: red;
    color: #ffffff;
    font-size: 25px;
    margin-top: 25px;
}

.title {
    font-stretch: condensed;
    text-align: center;
    margin: 10px;
    padding: center;
}


.container {
    text-align: center;
    padding: 0 600px 0;
    text-align:  left;
    margin-top: 20px;
}


em {
    color: blueviolet;
    font-style: italic;
}

strong {
    font-weight: bold;
}

.img1 {
    align-items: center;
    flex-direction: bottom 50px;
}

.text {
    font-size: 18px;
    
}

.img2 {
    margin: 15px;
    text-align: center;
    flex-direction: column;
    
}

.simg {
    
    border-style: ridge;
}

.cellar {
    font-size: 20px;
}


.foot {
    text-align: center;
    color: white;
    margin-top: 30px;
    background-color: black;
    height: 20px;
    width: 755px;
}